{% extends "layouts/base.twig" %}

{% block content %}
	<div class="grid-container full">
        <div class="grid-x">
            <div class="small-12 medium-8 padding-small center-vertically-parent">
                <div class="center-vertically-child">
                    <button class="button">Test Button</button>
                    <button class="button">Test Button</button>
                    <button class="button">Test Button</button>
                    <button class="button">Test Button</button>
                </div>
            </div>
            <div class="small-12 medium-4 padding-small">
                <input type="text" placeholder="Search...">
                <input type="checkbox" class="searchMode" value="Name" checked>By Name
                <input type="checkbox" class="searchMode" value="Type">By Type
                <input type="checkbox" class="searchMode" value="Location">By Location
            </div>
            <div class="small-12 grid-x center-horizontally-parent">
                <div class="small-2">
                    <p>Name</p>
                </div>
                <div class="small-2">
                    <p>Type</p>
                </div>
                <div class="small-2">
                    <p>Location</p>
                </div>
                <div class="small-2">
                    <p>Last Seen</p>
                </div>
                <div class="small-4">
                    <p>Controls</p>
                </div>
            </div>
            <div class="small-12 grid-x center-horizontally-parent">
                {% for sensor, value in meta %}
                    <div class="small-2">
                        <p>{{ sensor }}</p>
                    </div>
                    <div class="small-2">
                        <p>{{ value.sensorType }}</p>
                    </div>
                    <div class="small-2">
                        <p>{{ value.sensorLocation }}</p>
                    </div>
                    <div class="small-2">
                        <p>{{ value.lastSeen }}</p>
                    </div>
                    <div class="small-4" data-sensor="{{ sensor }}">
                        <button class="button buttonEdit">Edit</button>
                        <button class="button buttonDelete">Delete</button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="reveal" id="modalEditButton" data-reveal>
        <h1 id="titleEdit"><h1>
        <form id="formEdit" action="" onsubmit="return formValidateEdit();" method="post">
            <input type="text" name="Action" value="Edit" style="display: none;">
            <input id="setSensorVal2" type="text" name="Sensor" style="display: none;">
            <label for="range"><b>Type</b></label>
            <input type="text" name="Type">
            <label for="range"><b>Location</b></label>
            <input type="text" name="Location">
            <button class="button" type="submit">Submit</button>
        </form>

        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="reveal" id="modalDeleteButton" data-reveal>
        <h1 id="titleDelete"><h1>
        <form id="formDelete" action="" onsubmit="return formValidateDelete();" method="post">
            <input type="text" name="Action" value="Delete" style="display: none;">
            <input id="setSensorVal" type="text" name="Sensor" style="display: none;">
            <input type="checkbox" name="Dash" value="Dash">Remove Sensor From Dashboard</br>
            <input id="checkBoxHistorical" type="checkbox" name="Historical"="true">Delete Historical Data For Sensor</br>
            <label class="historicalChecked" for="range"><b>Delete Data Before (Year/Month/Day 2018/02/18)</b></label>
            <input class="historicalChecked" type="text" name="range">
            <input class="historicalChecked" type="checkbox" name="Historical" value="All"><span class="historicalChecked">Remove All Historical Data For This Sensor</span></br>
            <button class="button" type="submit">Submit</button>
        </form>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endblock %}